doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/socket.io/socket.io.js')
    block script
  body
    block content